.moreTestsContainer {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testsRow {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

.testContainer {
    margin: 0;
    width: 30%;
    height: 45vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 12px;
    box-sizing: border-box;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.testName {
    font-size: 18px;
}

.testDescription {
    padding-top: 2rem;
    text-transform: lowercase;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 500;
}

.testBtn {
    cursor: pointer;
    background-color: var(--main-blue);
    padding: 0.5rem;
    border: 1px solid transparent;
    margin-top: auto;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    text-transform: lowercase;
}

.testBtn:hover {
    background-color: var(--pink);
    opacity: 0.8;
}

.paginationControls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrowButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--main-blue);
    color: white;
    font-weight: bold;
}

.arrowButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.arrowButton:hover:not(:disabled) {
    background-color: var(--pink);
    opacity: 0.8;
}
